@import "../../../styles/variables.scss";

.input-wrapper {
    color: $text-color;
    font-size: 16px;
    text-align: start; // Para o texto começar no início do input

    label {
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        border-radius: 8px; 
        border: none;
        background-color: $gray-secondary-bg;
        font-weight: 400;
        padding: 12px 0 12px 20px;
        width: 100%;
    }
}

