<!-- <main>
    <section class="form-section">
        <img src="assets/svg/logo.svg"/>
        <h2>{{ title }}</h2>
        <button class="btn-primary">{{ primaryBtnText }}</button>
        <div>
            <span>ou</span>
        </div>
        <button class="btn-secondary">{{ secondaryBtnText }}</button>
    </section>
    <section class="main-section">
        <h1>Dinossauros</h1>
        <img src="assets/svg/main.svg"/>
    </section>
</main> -->

<main>
    <section class="login-section">
        <div class="image-container-logo">
            <img src="assets/png/logo-dinossauros.png"/>
        </div>
        
        <h2>Entre na sua conta</h2>
        
        <input type="text">
        <input type="text">

    </section>
    <section class="banner-section">
        <img src="assets/svg/banner-dinossauros.svg"/>
    </section>
</main>