<main>
    <section class="login-section">
        <div class="image-container-logo">
            <img src="assets/png/logo-dinossauros.png"/>
        </div>
        <h1>Escolinha Dinossauros</h1>
        <h3>{{ title }}</h3>
        <button class="btn-primary">{{ primaryBtnText }}</button>
        <div class="divider">
            <div></div>
            <span>ou</span>
            <div></div>
        </div>
        <button class="btn-secondary">{{ secondaryBtnText }}</button>
    </section>
    <section class="banner-section">
        <img src="assets/svg/banner-dinossauros.svg"/>
    </section>
</main>