@import "../../../styles/variables.scss";

 main {
    display: flex;
    flex-direction: row; // Elementos em linha horizontal
    height: 100%; // Altura

    .login-section {
        flex: 1; // Crescimento flexível para que se ajuste proporcionalmente
        flex-grow: 0.4; // Crescimento flexível, tamanho em proporção, se todos for = 1, todos possuirão o mesmo tamanho.
        background-color: white; // Cor de fundo
        display: flex;
        flex-direction: column; // Elementos em coluna vertical
        align-items: center; // Alinhamento central
        justify-content: center; // Alinhamento central
        gap: 20px; // Distanciamento entre os elementos
        padding: 0 35px; // Espaçamento lateral de 35px

        .image-container-logo {
            width: 100%; // Largura
            display: flex;
            justify-content: center; // Alinhamento centralizado
        }

        img {
            width: 30%; // Largura
        }

        h3 {
            margin-top: 45px; // Adiciona espaço(margem) para cima
            // margin-bottom: 45px; // Adiciona espaço(margem) para baixo
        }

        .divider {
            font-size: 16px; // Tamanho da fonte
            color: $gray-bg; // Cor da letra
            font-weight: 400; // Expessura da fonte
            display: flex;
            align-items: center; // Alinhamento central
            width: 100%; // Largura 
            gap: 20px; // Distanciamento entre os elementos
            text-transform: uppercase; // Transforma o texto para maiúscula
        
            div {
                width: 100%; // Largura 
                height: 2px; // Altura
                background-color: $gray-bg; // Cor de fundo
            }
        }

        button {
            width: 100%;
            border-radius: 8px; // Arredondamento da borda
            font-size: 16px; // Tamanho da fonte
            font-weight: 500; // Expessura da fonte
            border: none; // Sem borda
            background: transparent; // Cor de fundo
            padding: 12px 24px; // Altura e Largura
            cursor: pointer; // Ponteiro do cursor

            &.btn-primary { // & -> Pega o buttton
                background-color: $primary-color; // Cor de fundo
                color: white; // Cor da letra
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); // Sombra da caixa
            }

            &.btn-secondary { // & -> Pega o buttton
                border: 1px solid $primary-color; // Cor de fundo
                color: $primary-color; // Cor da letra
            }
        }
    }

    .banner-section {
        flex: 1; // Crescimento flexível para que se ajuste proporcionalmente
        flex-grow: 1; // Crescimento flexível, tamanho em proporção, se todos for = 1, todos possuirão o mesmo tamanho.
        background-color: $banner; // Chamando a varíavel importada de variables.css // Cor de fundo
        display: flex;
        flex-direction: row; // Elementos em linha horizontal
        align-items: center; // Alinhamento horizontal (para flex-direction -> column)
        justify-content: center; // Alinhamento vertical (para flex-direction -> column

        img {
            height: 100%; // Altura
            width: 70%; // Largura
        }
    }
}
