// @import "../../../styles/variables.scss";

// main {
//     height: 100%;    
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
    
//     .form-section {
//         height: 100%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         flex-grow: 0.3;
//         padding: 0 35px;
//         background-color: greenyellow;

//         h2 {
//             font-size: 20px;
//             font-weight: bold;
//         }

//         button {
//             width: 100%;
//             border-radius: 8px;
//             font-size: 16px;
//             font-weight: 500;
//             border: none;
//             background-color: transparent;

//             // &.brn-primary {}
//         }
//     }

//     .main-section {
//         height: 100%;
//         gap: 8px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;

//         flex-grow: 1;
//         background-color: $gray-bg;
//     }

// }

@import "../../../styles/variables.scss";

 main {
    display: flex;
    flex-direction: row; // Coluna ou Linha
    height: 100%; // Altura

    .login-section {
        flex: 1; // Crescimento flexível para que se ajuste proporcionalmente
        flex-grow: 0.4; // Crescimento flexível, tamanho em proporção, se todos for = 1, todos possuirão o mesmo tamanho.
        background-color: $primary-color; // Chamando a varíavel importada de variables.css
        display: flex;
        flex-direction: column;
        align-items: center; // Alinhamento horizontal (para flex-direction -> column)
        justify-content: center; // Alinhamento vertical (para flex-direction -> column)
        gap: 20px; // Distanciamento entre os elementos

        .image-container-logo {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        img {
            width: 30%;
        }

        h2 {
            font-size: 1.5rem;
        }
    }

    .banner-section {
        flex: 1; // Crescimento flexível para que se ajuste proporcionalmente
        flex-grow: 1; // Crescimento flexível, tamanho em proporção, se todos for = 1, todos possuirão o mesmo tamanho.
        background-color: $banner; // Chamando a varíavel importada de variables.css
        display: flex;
        flex-direction: row;
        align-items: center; // Alinhamento horizontal (para flex-direction -> column)
        justify-content: center; // Alinhamento vertical (para flex-direction -> column

        img {
            height: 100%;
            width: 70%;
        }
    }
}
