<main>
    <section class="login-section">
        <div class="image-container-logo">
            <img src="assets/png/logo-dinossauros.png"/>
        </div>
        <h2>{{ title }}</h2>
        <button class="btn-primary">{{ primaryBtnText }}</button>
        <div>
            <span>or</span>
        </div>
        <button class="btn-secondary">{{ secondaryBtnText }}</button>
    </section>
    <section class="banner-section">
        <img src="assets/svg/banner-dinossauros.svg"/>
    </section>
</main>